/* Application styles could go here */
/*
input {
    width: auto !important;
}
*/

/* used on index.html for statistic header app:homepage-header */
.transparent {
  background:#7f7f7f;
  background:rgba(255,255,255,0.5);
}
/* may be uncommented to highlight mouse over the header vignettes 
.transparent:hover{
    transform: scale(1.1);
    background:rgba(255,255,255,1);
}
*/

/* used on granule tables for links to details page */
.pointer {
  cursor: pointer;
 }

/* popover with OIFitsViewer checkReport */
#oifits .popover {
    max-width: none;
}

/* increase margin in the search form. only ".form-horizontal .form-group" get it from default bootstrap */
#filters .form-inline .form-group {
    margin-bottom: 15px;
}

/* term of use cookie  */
#cookie-agreement {
    background: #202226;
    color: #F1F1F3;
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
	display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
	max-width:100%;
	padding: 5px;
    z-index: 999999; 
    opacity: .7;
}
/* stop tooltip flickering */
.tooltip { pointer-events: none; }

/* more fun on the homepage */
.vignettes li
{
    transition: transform .2s;
}

.vignettes li:hover
{
   transform:  scale(1.1) rotate(-3deg);
}
