<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="shortcut icon" href="resources/images/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <script type="text/javascript" src="$shared/resources/scripts/jquery/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="resources/scripts/bootstrap.min.js"/>
        <script type="text/javascript" src="resources/scripts/sampjs/samp.js"/>
        <script type="text/javascript" src="resources/scripts/samp-broadcast.js"/>
    </head>
    <body id="body">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a data-template="config:app-title" class="navbar-brand" href="#">App Title</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown" id="about">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <b class="caret"/>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="search.html">
                                <span class="glyphicon glyphicon-search"/> Search</a>
                        </li>
                        <li>
                            <a href="vega.html">
                                <span class="glyphicon glyphicon-search"/> Search VEGA dataset</a>
                        </li>
                        <li>
                            <a href="submit.html">
                                <span class="glyphicon glyphicon-upload"/> Submit new data</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown" id="help">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"/>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="feedback.html">Feedback</a>
                        </li>
                        <li class="divider"/>
                        <li>
                            <a href="about.html">
                                <i class="glyphicon glyphicon-info-sign"/> About</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="row" data-template="templates:if-attribute-set" data-template-attribute="warning">
            <p class="bg-warning col-md-offset-4 col-md-4 text-center text-warning">
                <span class="glyphicon glyphicon-warning-sign"/> Prototype under development, do not use in production.<br/>
            </p>
        </div>
        <div id="content" class="container-fluid"/>
        <script type="text/javascript">
            $(document).ready(function() {
                $("[rel='tooltip']").tooltip();
            });
        </script>
    </body>
</html>
