<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="shortcut icon" href="resources/images/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <script type="text/javascript" src="$shared/resources/scripts/jquery/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="resources/scripts/bootstrap.min.js"/>
        <script type="text/javascript" src="resources/scripts/sampjs/samp.js"/>
        <script type="text/javascript" src="resources/scripts/samp.js"/>
        <script type="text/javascript" src="resources/scripts/login.js"/>
    </head>
    <body id="body">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"/>
                        <span class="icon-bar"/>
                        <span class="icon-bar"/>
                    </button>
                    <ul class="nav navbar-nav brand">
                        <!-- JMMC menu -->
                        <li data-template="jmmc-web:navbar-li"/>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding:0;">
                                <img height="54" src="resources/images/oidb-7-tr.png" alt="OiDB logo"/>
                                <b class="caret"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="index.html">
                                        <span class="glyphicon glyphicon-home"/> Home</a>
                                </li>
                                <li>
                                    <a href="search.html">
                                        <span class="glyphicon glyphicon-search"/> Search</a>
                                </li>
                                <li>
                                    <a href="submit.html">
                                        <span class="glyphicon glyphicon-upload"/> Submit new data</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="index.html">
                                <span class="glyphicon glyphicon-home"/> Home</a>
                        </li>
                        <li>
                            <a href="search.html">
                                <span class="glyphicon glyphicon-search"/> Search</a>
                        </li>
                        <li>
                            <a href="submit.html">
                                <span class="glyphicon glyphicon-upload"/> Submit new data</a>
                        </li>
                        <div data-template="templates:if-attribute-set" data-template-attribute="fr.jmmc.oidb.login.superuser">
                            <li class="dropdown">
                                <a href="backoffice.html">
                                    <span class="glyphicon glyphicon-dashboard"/> Dashboard</a>
                            </li>
                        </div>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="doc.html">
                                        <i class="glyphicon glyphicon-book"/> Main documentation</a>
                                </li>
                                <li>
                                    <a href="feedback.html">
                                        <i class="glyphicon glyphicon-question-sign"/> Feedback</a>
                                </li>
                                <li>
                                    <a href="about.html">
                                        <i class="glyphicon glyphicon-info-sign"/> About </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">
                                <span class="text-warning">
                                    <span class="glyphicon glyphicon-warning-sign"/> Prototype under development, do not use in production.</span>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="External web sites">
                                <i class="glyphicon glyphicon-new-window"/>
                                <b class="caret"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="http://iau-c54.wikispaces.com/" target="_blank">
                                        <i class="glyphicon glyphicon-new-window"/> Olbin / IAU C-54</a>
                                </li>
                                <li>
                                    <a href="https://listes.ujf-grenoble.fr/sympa/info/olbin.vo" target="_blank">
                                        <i class="glyphicon glyphicon-new-window"/> VO Olbin forum</a>
                                </li>
                            </ul>
                        </li>
                        <div data-template="templates:if-attribute-set" data-template-attribute="fr.jmmc.oidb.login.user">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Logged in. <b class="caret"/>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="index.html?logout=true">
                                            <i class="glyphicon glyphicon-log-out"/>Sign out</a>
                                    </li>
                                    <li class="divider"/>
                                    <li>
                                        <a href="https://apps.jmmc.fr/account">
                                            <i class="glyphicon glyphicon-edit"/> Manage account</a>
                                    </li>
                                </ul>
                            </li>
                        </div>
                        <div data-template="helpers:unless-attribute-set" data-template-attribute="fr.jmmc.oidb.login.user">
                            <li class="dropdown" id="login">
                                <a href="#">
                                    <span class="glyphicon glyphicon-log-in"/> Sign in</a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="col-md-10 col-md-offset-1 alert alert-dismissible fade in" role="alert" data-template="app:flash">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
        </div>
        <div id="content" class="container-fluid"/>
        <script type="text/javascript">
            $(document).ready(function() {
                $("[rel='tooltip']").tooltip();
            });
        </script>
        <div data-template="app:log"/>
    </body>
</html>