<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="shortcut icon" href="resources/images/favicon.ico"/>
        <link rel="alternate" type="application/rss+xml" title="last comment and submitted granules" href="rss"/>
        <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/bootstrap-tagsinput.css"/>
        <script type="text/javascript" src="$shared/resources/scripts/jquery/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="resources/scripts/bootstrap.min.js"/>
        <script type="text/javascript" src="resources/scripts/sampjs/samp.js"/>
        <script type="text/javascript" src="resources/scripts/samp.js"/>
        <script type="text/javascript" src="resources/scripts/login.js"/>
        <div data-template="templates:if-attribute-set" data-template-attribute="fr.jmmc.oidb.login.superuser">
			<!-- includes javascript for admin operations if authenticated as superuser -->
            <script type="text/javascript" src="resources/scripts/admin.js"/>
        </div>
    </head>
    <body id="body" data-template="jmmc-about:changelog">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"/>
                        <span class="icon-bar"/>
                        <span class="icon-bar"/>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <!-- JMMC menu -->
                        <li data-template="jmmc-web:navbar-li"/>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding:0;">
                                <img height="54" src="resources/images/oidb-7-tr.png" alt="OiDB logo"/>
                                <b class="caret"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="index.html">
                                        <span class="glyphicon glyphicon-home"/> Home</a>
                                </li>
                                <li>
                                    <a href="search.html">
                                        <span class="glyphicon glyphicon-search"/> Search</a>
                                </li>
                                <li>
                                    <a href="submit.html">
                                        <span class="glyphicon glyphicon-upload"/> Submit new data</a>
                                </li>
                                <li>
                                    <a href="data-pis.html">
                                        <span class="glyphicon glyphicon-user"/> Data PIs</a>
                                </li>
                                <li>
                                    <a href="collections.html">
                                        <span class="glyphicon glyphicon-th-list"/> Collections</a>
                                </li>
                                <li>
                                    <a href="instruments.html">
                                        <span class="glyphicon glyphicon-camera"/> Instruments</a>
                                </li>
                                <li>
                                    <a href="facilities.html">
                                        <span class="glyphicon glyphicon-globe"/> Facilities</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="index.html">
                                <span class="glyphicon glyphicon-home"/> Home</a>
                        </li>
                        <li>
                            <a href="search.html">
                                <span class="glyphicon glyphicon-search"/> Search</a>
                        </li>
                        <li>
                            <a href="submit.html">
                                <span class="glyphicon glyphicon-upload"/> Submit new data</a>
                        </li>
                        <div data-template="templates:if-attribute-set" data-template-attribute="fr.jmmc.oidb.login.superuser">
                            <li class="dropdown">
                                <a href="backoffice.html">
                                    <span class="glyphicon glyphicon-dashboard"/> Dashboard</a>
                            </li>
                        </div>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="doc.html">
                                        <i class="glyphicon glyphicon-book"/> Main documentation</a>
                                </li>
                                <li>
                                    <a href="feedback.html">
                                        <i class="glyphicon glyphicon-question-sign"/> Contact / Feedback</a>
                                </li>
                                <li>
                                    <a href="about.html">
                                        <i class="glyphicon glyphicon-info-sign"/> About </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li data-template="helpers:unless-model-key" data-template-key="stable">
                            <a href="#">
                                <span class="text-warning">
                                    <span class="glyphicon glyphicon-danger-sign"/>
                                    <b>
                                        <span data-template="jmmc-about:status"/>
                                    </b> release, use at your own risk.</span>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="External web sites">
                                <i class="glyphicon glyphicon-new-window"/>
                                <b class="caret"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="http://iau-c54.wikispaces.com/" target="_blank">
                                        <i class="glyphicon glyphicon-new-window"/> Olbin / IAU C-54</a>
                                </li>
                                <li>
                                    <a href="https://listes.univ-grenoble-alpes.fr/sympa/info/olbin.vo" target="_blank">
                                        <i class="glyphicon glyphicon-new-window"/> VO Olbin forum</a>
                                </li>
                            </ul>
                        </li>
                        <div data-template="templates:if-attribute-set" data-template-attribute="fr.jmmc.oidb.login.user">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Logged in. <b class="caret"/>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="index.html?logout=true">
                                            <i class="glyphicon glyphicon-log-out"/>Sign out</a>
                                    </li>
                                    <li class="divider"/>
                                    <li>
                                        <a href="https://apps.jmmc.fr/account">
                                            <i class="glyphicon glyphicon-edit"/> Manage account</a>
                                    </li>
                                </ul>
                            </li>
                        </div>
                        <div data-template="helpers:unless-attribute-set" data-template-attribute="fr.jmmc.oidb.login.user">
                            <li class="dropdown" id="login">
                                <a href="#">
                                    <span class="glyphicon glyphicon-log-in"/> Sign in</a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="col-md-10 col-md-offset-1 alert alert-dismissible fade in" role="alert" data-template="flash:flash">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
        </div>
        <div id="content" class="container-fluid"/>
        <div data-template="helpers:unless-attribute-set" data-template-attribute="cookie-agreement">
            <div id="cookie-agreement" class="container-fluid">
                <div class="row">
                    <div class="col-md-8">By accessing and using this website, you acknowledge and accept the terms of use.  Click on « Accept » to validate.</div>
                    <div class="col-md-4 text-right">
                        <a class="btn btn-default btn-xs" href="doc.html#3_Terms_of_use_USER_MUST_READ">Terms of Use</a>&#160;
                    <a class="btn btn-success btn-xs" href="?i_agree_to_conditions">Accept</a>&#160;
                    <a href="?i_agree_to_conditions">
                            <span>×</span>
                            <span class="sr-only">Close</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <footer id="footer" class="navbar">
            <hr/>
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <p>Designed and built with all the love in the JMMC by the <a href="http://www.jmmc.fr/jmmc_groups.htm#oidbgroup" target="_blank">OIDB</a> group members.</p>
                        <p>Maintained by the <a href="http://www.jmmc.fr/jmmc_groups.htm#technicalgroup">JMMC technical team</a> with the help of <a href="http://ipag.osug.fr">IPAG</a> / <a href="http://datacenter.osug.fr">OSUG-DC</a> / <a href="http://www.univ-grenoble-alpes.fr">UGA</a> - <a href="http://www.insu.cnrs.fr">INSU / CNRS</a>.</p>
                        <p>
                            This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>
                            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                                <img alt="Creative Commons License" style="border-width:0" src="resources/images/by-nc-sa_4.0_88x31.png"/>
                            </a>.
                        </p>
                    </div>
                    <div class="col-md-2">
                         Current version: <span data-template="jmmc-about:version"/>&#160;<span data-template="jmmc-about:status"/>
                        <br/>
                        <a class="btn btn-default btn-xs" href="doc.html#3_Terms_of_use_USER_MUST_READ">Terms of Use</a>&#160;
                    </div>
                </div>
            </div>
        </footer>
        <script type="text/javascript">
            $(document).ready(function() {
                $("[rel='tooltip']").tooltip();
            });
        </script>
        <div data-template="app:log"><!-- removed by template but perform a log entry for stats --></div>
    </body>
</html>
